.ios-safe-top {
  padding-top: env(safe-area-inset-top);
}

.ios-safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

.ios-safe-left {
  padding-left: env(safe-area-inset-left);
}

.ios-safe-right {
  padding-right: env(safe-area-inset-right);
}
